/* common */
html {
  height:100%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}
article {
  padding-top: 45px;
  padding-bottom: 100px;
}
.top-img {
  margin: 20px
  position: relative;
}
.top-img #header-img {
  width:100%;
}
.top-img #logo {
  position: absolute;
  top: 40px;
  left: 0;
}

/* header */
header, nav, ul, li, h1, h2, p, a {
    margin: 0;
    padding: 0;
}
header a {
    color: #333;
    text-decoration: none;
}
header li {
    list-style-type: none;
}
header nav {
    background: #f5f5f5;
    text-align: center;
}
nav ul li {
    float: left;
    width: 20%;
    border-right: 1px solid #e6e4e4;
    border-bottom: 1px solid #e6e4e4;
    box-sizing: border-box;
}
nav ul li:last-child {
    border-right: none;
}
nav ul li a {
    display: block;
    width: 100%;
    padding: 10px 0;
}
nav ul li a:hover {
    background: #f5f5dc;
}

/* article */
/* article #one {
  font-family: 'Rounded Mplus 1c';
  font-size: 80px;
}
article #two {
  font-family: 'Hannari';
  font-size: 80px;
} */
.img-container img {
  display: block;
  padding-top: 30px;
  margin: auto;
}
article h1 {
  border: solid 3px;
  padding: 0.5em;
  border-radius: 0.5em;
  width: 600px;
  margin: 50px;
  margin-left: 10%;
  text-align: center;
}
article .textbox {
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}
article .titlebox {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}
article .btn-box {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: left;
}
.normal {
  text-align: left;
  font-size: 25px;
}
.subtitle {
  text-align: left;
  font-size: 30px;
  margin: 50px;
}
article #commingsoon {
  text-align: center;
  padding: 30px;
  font-family: 'Rounded Mplus 1c';
  font-size: 30px;
}
.news #turai {
  margin: 0 auto;
  padding: 20px 0;
  font-size: 30px;
  text-align: left;
}
.mini {
  border: solid 3px;
  padding: 0.5em;
  border-radius: 0.5em;
  text-align: center;
  margin-right: 10px;
  height: 35px;
  width: 70px;
  color: #fff;
  background-color: green;
}
.square_btn {
  display: inline-block;
  margin: 10px;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #ff7c5c;
  color: #ff7c5c;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.square_btn:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}

/* footer */
footer {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  text-align: center;
  overflow: hidden;
}
footer hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 15px;
    z-index: 1;
}
.pagetop a {
    display: block;
    background-color: #ccc;
    text-align: center;
    color: #222;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.pagetop a:hover {
    display: block;
    background-color: #b2d1fb;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding:5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
/* timetable */
.timeTable {
  clear: both;
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}
.tableBox {
  text-align: left;
}
table {
  width: 60%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}
th, td {
  border: 1px solid #fff;
}
th {
  width: 80px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background-color: #2C3E5C;
  vertical-align: top;
}
td {
  height: 80px;
  padding: 0 10px;
  font-size: 18px;
  text-align: center;
  background: #f3f4ef;
}
