body {
    font-family: Verdana;
    color: #333;
    margin: 0;
    padding: 0;
}
header, nav, ul, li, h1, p, a {
    margin: 0;
    padding: 0;
}
a {
    color: #333;
    text-decoration: none;
}
li {
    list-style-type: none;
}
nav {
    background: #f5f5f5;
    text-align: center;
}
nav ul li {
    float: left;
    width: 20%;
    border-right: 1px solid #e6e4e4;
    border-bottom: 1px solid #e6e4e4;
    box-sizing: border-box;
}
nav ul li:last-child {
    border-right: none;
}
nav ul li a {
    display: block;
    width: 100%;
    padding: 10px 0;
}
nav ul li a:hover {
    background: #f5f5dc;
}
